dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*

*.bak

output/

output-c\+\+/

src/PLCparser/TestPlc

src/PLCparser/CompilePlc

src/PLCparser/AbsPlc.hs
src/PLCparser/ErrM.hs
src/PLCparser/ParPlc.y
src/PLCparser/SkelPlc.hs
src/PLCparser/LexPlc.hs
src/PLCparser/ParPlcData.hs
src/PLCparser/LexPlc.info
src/PLCparser/ParPlc.hs
src/PLCparser/PrintPlc.hs
src/PLCparser/TestPlc.hs
src/PLCparser/ComposOp.hs
src/PLCparser/LexPlc.x
src/PLCparser/ParPlc.info

src/System/
src/Data/

sinnodk-sprayer-control-software-9c87de37b14a/

src/PLCparser/buildsystem

*.tapn
*.ir
!testfiles/Blackbox/expected/*.tapn
!testfiles/Blackbox/expected/*.ir
